@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-hello {
  will-change: animation;
  animation: reveal 3s 1;
  animation-fill-mode: forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
