@font-face {
  /* https://fonts.google.com/specimen/Montserrat */
  font-family: "Montserrat";
  src: url(./font/Montserrat-ExtraBold.ttf) format("TrueType");
}

:root {
  --timing-bounce-100: cubic-bezier(0, 0, 0.2, 1);
  --timing-bounce-50: cubic-bezier(0.8, 0, 1, 1);
  --bounce-translateY: 25%;
  --theme: rgb(248, 113, 113);
  --theme-2: rgb(241, 245, 249);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body * {
    @apply transition-colors duration-[50ms];
  }

  h2 {
    @apply text-2xl md:text-3xl;
  }

  h3 {
    @apply text-xl md:text-2xl;
  }

  article {
    @apply bg-theme-2 portrait:bg-transparent h-full w-full max-w-screen-lg landscape:px-5 landscape:md:px-9 landscape:py-7 flex flex-col justify-around landscape:overflow-auto;
    scrollbar-gutter: stable both-edges;
  }

  a.disabled,
  button:disabled {
    @apply text-disabled;
    pointer-events: none;
  }

  button {
    @apply px-1 rounded-md;
  }

  /* Scrollbar */

  ::-webkit-scrollbar {
    @apply w-5;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-red-400 border-solid border-x-4 border-y-0 border-theme-2 dark:border-dark;
  }

  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:active {
    @apply bg-theme;
  }
}

@layer components {
  .bg-theme {
    @apply bg-red-400;
  }

  .bg-theme-fade {
    @apply bg-red-300;
  }

  .bg-dark {
    @apply bg-zinc-800;
  }

  .bg-dark-fade {
    @apply bg-zinc-700;
  }

  .bg-theme-2 {
    @apply bg-slate-100 dark:bg-dark;
  }

  .bg-theme-2-fade {
    @apply bg-slate-200 dark:bg-dark-fade;
  }

  .text-light {
    @apply text-zinc-800;
  }

  .text-theme {
    @apply text-red-400;
  }

  .text-theme-2 {
    @apply text-slate-100;
  }

  .text-disabled {
    @apply text-zinc-400 dark:text-zinc-500;
  }

  .border-theme {
    @apply border-red-400;
  }

  .border-dark {
    @apply border-zinc-800;
  }

  .border-theme-2 {
    @apply border-slate-100;
  }

  .border-wrapper {
    @apply h-[calc(100%+16px)] w-[calc(100%+16px)] p-1 rounded-full;
    background: linear-gradient(to bottom, var(--theme), transparent 80%);
    /* More at MEDIA QUERY below */
  }

  .border-inner-wrapper {
    @apply bg-theme-2 h-full w-full rounded-full;
  }

  .divider-theme {
    @apply h-1 w-full rounded-sm;
  }

  .divider-theme.left {
    @apply bg-gradient-to-r from-red-400;
  }

  .divider-theme.right {
    @apply bg-gradient-to-l from-red-400;
  }

  .content-wrapper {
    @apply h-full w-full landscape:absolute top-0 left-0;
  }

  .content-section {
    @apply h-full w-full landscape:py-14 flex justify-center items-center;
  }

  .btn-nav-wrapper {
    @apply w-36 absolute;
  }

  .btn-nav {
    @apply w-36 flex justify-center items-center fixed;
  }

  .btn-theme {
    @apply bg-theme-fade hover:bg-theme text-theme-2 dark:text-light;
  }

  .btn-theme-2 {
    @apply bg-theme-2-fade hover:bg-theme-2 text-theme;
  }

  .btn-dark-mode {
    @apply bg-theme h-[24px] aspect-[2] px-0 rounded-md shadow-inner;
    transition: background-color 500ms ease;
  }

  .btn-dark-mode:hover {
    @apply landscape:bg-dark landscape:dark:bg-slate-100;
  }

  .dark-mode-ball {
    @apply bg-theme-2 h-[calc(100%-4px)] aspect-square mx-[2px] rounded-md;
  }

  .article-inner-wrapper {
    @apply flex flex-col gap-7;
  }

  .article-title {
    @apply bg-theme-2 w-full portrait:sticky portrait:top-[55px] z-[96];
  }

  .timeline {
    @apply landscape:w-full flex flex-col gap-5 overflow-hidden;
    transition: height 1s ease;
  }

  .timeline.less {
    -webkit-mask-image: linear-gradient(var(--theme-2) 50%, transparent);
    mask-image: linear-gradient(var(--theme-2) 50%, transparent);
  }

  .timeline:after {
    @apply bg-dark dark:bg-slate-100 h-full w-1 absolute top-0 left-[50%] portrait:left-[5%] landscape:translate-x-[-50%] z-auto;
    content: "";
  }

  .timeline-content {
    @apply landscape:w-[50%] relative;
  }

  .timeline-content:after {
    @apply bg-theme-2 hover:bg-theme h-4 aspect-square -ml-2 portrait:-ml-1.5 border-4 border-dark dark:border-slate-100 rounded-full absolute top-[2px] md:top-[6px] portrait:left-[5%] z-[1];
    content: "";
    transition: background-color 500ms ease;
  }

  .timeline-content:after.left {
    @apply landscape:-right-2;
  }

  .timeline-content.right {
    @apply landscape:left-[50%];
  }

  .timeline-content.left {
    @apply landscape:left-0;
  }

  .timeline-inner-content {
    @apply px-10 relative portrait:left-4;
  }

  .timeline-content.left .timeline-inner-content > p {
    @apply landscape:text-end;
  }

  .content-wrapper-project {
    @apply w-[90%] landscape:py-7 flex portrait:flex-col-reverse gap-5 overflow-y-clip;
  }

  .index-project-wrapper {
    @apply text-theme text-6xl md:text-7xl absolute top-0 left-0 translate-x-[-25%] translate-y-[-25%] z-auto;
  }

  .info-project {
    @apply w-full p-3 flex flex-col justify-evenly gap-5;
  }

  .img-project-wrapper {
    @apply w-full flex justify-center items-center;
  }

  .img-project-inner-wrapper {
    @apply w-full flex justify-center items-center landscape:translate-y-[-10%];
    -webkit-perspective: 500px;
    perspective: 500px;
  }

  .img-project,
  .img-project-even {
    @apply relative z-[1];
    outline: 1px solid transparent; /* Fix jagged edges */
    /* More at MEDIA QUERY below*/
  }

  .img-project-mirror,
  .img-project-mirror-even {
    @apply absolute top-0 z-auto portrait:hidden;
    -webkit-mask-image: linear-gradient(transparent 80%, var(--theme-2));
    mask-image: linear-gradient(transparent 80%, var(--theme-2));
  }

  .img-project-mirror {
    transform: translateY(calc(100% + 2px)) rotateY(-20deg) rotateX(180deg);
  }

  .img-project-mirror-even {
    transform: translateY(calc(100% + 2px)) rotateY(20deg) rotateX(180deg);
  }

  .img-project-m {
    @apply h-full border-2 border-black rounded-md top-[5%] right-[-5%];
  }

  .img-project-mirror > .img-project-m,
  .img-project-mirror-even > .img-project-m {
    @apply hidden;
  }

  .tools-wrapper-outer-project {
    @apply w-full flex justify-center overflow-x-hidden;
  }

  .tools-wrapper-project {
    @apply flex items-center;
  }

  .tool-about,
  [class^="tool-project"] {
    @apply aspect-square flex justify-center items-center;
  }

  .p-contact {
    @apply py-0 text-left text-nowrap;
  }

  .icon-contact-wrapper {
    @apply h-[40px] sm:h-[50px] aspect-square;
  }

  .icon-mode-dark,
  .icon-mode {
    transition: opacity 1s ease;
  }

  .icon-mode-dark {
    @apply opacity-0 dark:opacity-100;
  }

  .icon-mode {
    @apply opacity-100 dark:opacity-0;
  }

  .icon-home-link,
  .icon-contact-link {
    @apply h-[30px] sm:h-[40px] text-[30px] sm:text-[40px] aspect-square;
  }

  .stroke-contact {
    @apply bg-theme-2;
  }

  .initial-contact {
    @apply text-theme-2 dark:text-light;
  }
}

@layer utilities {
  #contact-card {
    @apply landscape:shadow-[2px_2px_10px_rgb(39_39_42)] landscape:dark:shadow-[0px_0px_10px_rgb(241_245_249)];
  }
}

.montserrat {
  font-family: "Montserrat", system-ui, sans-serif;
}

.box-underline:after {
  @apply h-[2px] w-0 bg-theme rounded-full absolute left-1 bottom-0;
  content: "";
  transition: width 500ms ease;
}

.box-underline:hover:after {
  @apply w-[calc(100%-6px)];
}

.fade-side {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    var(--theme-2) 30% 70%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    var(--theme-2) 30% 70%,
    transparent
  );
  /* More at MEDIA QUERY BELOW */
}

/* Transition */

a,
#btn-timeline-toggle {
  transition: transform 500ms ease;
}

.tool-about,
[class^="tool-project"],
.dark-mode-ball {
  transition: transform 750ms ease;
}

.dark-mode-ball.dark {
  transform: translateX(calc(100% + 4px));
}

.img-tool,
#hello-wrapper,
#about,
#projects,
#contact {
  transition: transform 1s ease;
}

.img-tool.scaleAbout {
  transform: scale(1.5);
}

#hello-wrapper.hide {
  transform: translateY(100%);
}

#about.active {
  transform: translateX(150%);
}

#projects.active {
  transform: translateX(-150%);
}

#contact.active {
  transform: translateY(-150%);
}

#menu {
  opacity: 0;
  transition: opacity 500ms ease;
}

#menu.open {
  opacity: 1;
}

#bg-left,
#bg-right {
  transition:
    width 1s ease,
    opacity 1s ease;
}

#bg-left.shrink,
#bg-right.shrink {
  width: 0;
}

#bg-right.shrink ~ #bg-left {
  @apply rounded-lg opacity-75;
}

#bg-intro,
#section-intro {
  transition: height 1s ease;
}

#bg-intro.shrink,
#section-intro.shrink {
  height: calc((100svh / 2) - 56px);
}

nav,
#scroll,
#info-wrapper,
#info-wrapper > div {
  transition: opacity 1s ease;
}

nav.hide,
#scroll.hide,
#info-wrapper.hide,
#info-wrapper > div.hide {
  opacity: 0;
}

/* ANIMATION */

[class^="animate"] {
  will-change: animation;
}

.animate-hello {
  animation: slide-up 1.5s 1;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.animate-appear {
  opacity: 0;
  animation: appear 1.5s 1 1.5s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Tailwind Bounce Custom */

.animate-bounce-x {
  animation: bounce-x 1s infinite;
}

.animate-bounce-y {
  animation: bounce-y 3s infinite;
}

.animate-bounce-y-90 {
  transform: rotate(90deg);
  animation: bounce-y-90 3s infinite;
}

.animate-bounce-y-n90 {
  transform: rotate(-90deg);
  animation: bounce-y-n90 3s infinite;
}

@keyframes bounce-x {
  0%,
  100% {
    transform: none;
    animation-timing-function: var(--timing-bounce-100);
  }
  50% {
    transform: translateX(10%);
    animation-timing-function: var(--timing-bounce-50);
  }
}

@keyframes bounce-y {
  0%,
  33% {
    transform: none;
    animation-timing-function: var(--timing-bounce-100);
  }
  16% {
    transform: translateY(var(--bounce-translateY));
    animation-timing-function: var(--timing-bounce-50);
  }
}

@keyframes bounce-y-90 {
  0%,
  33% {
    transform: rotate(90deg);
    animation-timing-function: var(--timing-bounce-100);
  }
  16% {
    transform: rotate(90deg) translateY(var(--bounce-translateY));
    animation-timing-function: var(--timing-bounce-50);
  }
}

@keyframes bounce-y-n90 {
  0%,
  33% {
    transform: rotate(-90deg);
    animation-timing-function: var(--timing-bounce-100);
  }
  16% {
    transform: rotate(-90deg) translateY(var(--bounce-translateY));
    animation-timing-function: var(--timing-bounce-50);
  }
}

/* MEDIA QUERY */

@media (orientation: landscape) {
  .img-project {
    transform: rotateY(-20deg);
  }

  .img-project-even {
    transform: rotateY(20deg);
  }

  .border-wrapper {
    background: linear-gradient(to bottom left, var(--theme), transparent 80%);
  }
}

@media (orientation: portrait) {
  html {
    scrollbar-gutter: stable both-edges;
  }
}

@media (min-width: 768px) {
  .fade-side {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      var(--theme-2) 10% 90%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      var(--theme-2) 10% 90%,
      transparent
    );
  }
}
