@font-face {
  /* https://fonts.google.com/specimen/Montserrat */
  font-family: "Montserrat";
  src: url(./font/Montserrat-ExtraBold.ttf) format("TrueType");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body * {
    @apply transition-colors duration-[50ms];
  }

  h2 {
    @apply text-3xl md:text-4xl;
  }

  h3 {
    @apply text-xl md:text-2xl;
  }

  p {
    @apply py-2 text-justify text-pretty;
  }

  article {
    @apply bg-theme-2 portrait:bg-transparent h-full max-w-screen-lg landscape:px-10 landscape:md:px-14 landscape:py-14 flex flex-col gap-7 overflow-y-auto;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    @apply w-[16px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-theme rounded-full;
    border: solid 4px rgb(241 245 249);
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-red-300;
  }
}

@layer components {
  .bg-theme {
    @apply bg-red-400;
  }

  .bg-theme-2 {
    @apply bg-slate-100;
  }

  .text-theme {
    @apply text-red-400;
  }

  .text-theme-2 {
    @apply text-slate-100;
  }

  .border-theme {
    @apply border-red-400;
  }

  .divider-theme {
    @apply bg-theme h-1 w-[90%] portrait:w-[95%] rounded-full self-center;
  }

  .content-wrapper {
    @apply h-full w-full landscape:absolute top-0 left-0;
  }

  .content-section {
    @apply h-full w-full landscape:py-14 flex justify-center items-center;
  }

  .border-img {
    @apply h-full w-full border-2 border-theme absolute translate-x-3 -translate-y-[calc(100%+12px)] z-auto;
  }

  .content-wrapper-project {
    @apply w-[90%] py-7 flex portrait:flex-col-reverse portrait:gap-5;
  }

  .index-project-wrapper {
    @apply text-theme text-7xl absolute top-0 left-0 translate-x-[-25%] translate-y-[-25%] z-auto;
  }

  .info-project {
    @apply w-full p-3 flex flex-col justify-evenly gap-5;
  }

  .img-project-wrapper {
    @apply w-full flex justify-center;
    -webkit-perspective: 500px;
    perspective: 500px;
  }

  .img-project,
  .img-project-even {
    @apply relative z-[1];
    /* More at MEDIA QUERY section below*/
  }

  .img-project-mirror,
  .img-project-mirror-even {
    @apply absolute top-0 z-auto portrait:hidden;
    -webkit-mask-image: linear-gradient(transparent 80%, white);
    mask-image: linear-gradient(transparent 80%, white);
  }

  .img-project-mirror {
    transform: translateY(calc(100% + 2px)) rotateY(-20deg) rotateX(180deg);
  }

  .img-project-mirror-even {
    transform: translateY(calc(100% + 2px)) rotateY(20deg) rotateX(180deg);
  }

  .img-project-m {
    @apply h-[calc(80%+2px)] portrait:h-full border-2 border-black rounded-md top-[5%] right-[-5%];
  }

  .img-project-mirror > .img-project-m,
  .img-project-mirror-even > .img-project-m {
    @apply hidden;
  }

  .tools-wrapper-outer-project {
    @apply w-full flex justify-center overflow-x-hidden;
  }

  .tools-wrapper-project {
    @apply flex items-center;
  }
}

.montserrat {
  font-family: "Montserrat", system-ui, sans-serif;
}

.tool-about,
[class^="tool-project"],
#dark-mode-ball {
  transition: transform 750ms ease;
}

#dark-mode-ball.dark {
  transform: translateX(140%);
}

#menu {
  transition:
    opacity 500ms ease,
    transform 750ms ease;
}

#menu {
  opacity: 0;
  transition: opacity 1s ease;
}

#menu.open {
  opacity: 1;
}

#hello-wrapper {
  transition: transform 1s ease;
}

#hello-wrapper.hide {
  transform: translateY(100%);
}

#bg-left,
#bg-right {
  transition: width 1s ease;
}

#bg-left.shrink,
#bg-right.shrink {
  width: 0;
}

#bg-intro,
#section-intro {
  transition: height 1s ease;
}

#bg-intro.shrink,
#section-intro.shrink {
  height: calc((100svh / 2) - 56px);
}

nav,
#scroll {
  transition: opacity 1s ease;
}

nav.hide,
#scroll.hide {
  opacity: 0;
}

#about,
#projects,
#contact {
  transition: transform 1s ease;
}

#about.active {
  transform: translateX(150%);
}

#projects.active {
  transform: translateX(-150%);
}

#contact.active {
  transform: translateY(-150%);
}

/* ANIMATION */

.animate-hello {
  will-change: animation;
  animation: slide-up 1.5s 1;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.animate-appear {
  will-change: animation;
  animation: appear 1.5s 1 1.5s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button:hover .btn-bg-y {
  will-change: animation;
  animation: bounce-y 1s infinite;
}

button:hover .btn-bg-x,
#scroll {
  will-change: animation;
  animation: bounce-x 1s infinite;
}

/* Tailwind Bounce Custom */

@keyframes bounce-y {
  0%,
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes bounce-x {
  0%,
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateX(10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

/* MEDIA QUERY */

@media (orientation: landscape) {
  .img-project {
    transform: rotateY(-20deg);
  }

  .img-project-even {
    transform: rotateY(20deg);
  }
}
